.gray_bg {
  background-color: #f7f8f9;
}

.quotation {
  margin: 40px 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.quotation span {
  color: #F65936;
}

.divideLine {
  padding: 50px 0;
}

.divideLine h2 {
  margin: 0;
  font-size: 20px;
}

.divideLine:before {
  content: '';
  width: 100%;
  height: 2px;
  margin-bottom: 10px;
  display: block;
  background-color: #000;
}

.divideLine.divideLine--white h2 {
  color: #fff;
}

.divideLine.divideLine--white:before {
  background-color: #fff;
}

.link {
  color: #F65936;
  font-weight: 700;
  font-size: 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link:after {
  content: '';
  width: 18px;
  height: 18px;
  margin-left: 10px;
  padding: 3px;
  border: 1px solid #F65936;
  border-radius: 50%;
  background-image: url("../images/asset91.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.link:hover::after {
  border: 1px solid #ffaa96;
  color: #ffaa96;
}

.link:hover {
  color: #ffaa96;
}

.link.link--bigWhite:after {
  content: '';
  width: 32px;
  height: 32px;
  border: 1px solid #fff;
}

.link.link--noIcon:after {
  content: none;
}

.header {
  background-color: #fff;
}

.header .header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid #e0e0e0;
}

.header .header_top div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_search {
  margin-right: 15px;
}

.header .header_logo {
  width: 150px;
}

.footer {
  padding: 30px 0;
  background-color: #202124;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
}

.footer .footer_top::after {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.footer .footer_pageLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 30px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (min-width: 576px) {
  .footer .footer_pageLink {
    margin-bottom: 50px;
    display: block;
  }
}

.footer .footer_pageLink span:nth-child(1) {
  font-weight: bold;
  font-size: 17px;
  margin-right: 10px;
}

@media (min-width: 576px) {
  .footer .footer_pageLink span:nth-child(1) {
    display: block;
  }
}

.footer .footer_pageLink span:nth-child(2) {
  font-size: 12px;
}

.footer .footer_pageLink:hover {
  color: #F65936;
}

.footer .footer_pageSmallLink {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer .footer_pageSmallLink div {
  line-height: 20px;
}

.footer .footer_pageSmallLink:hover {
  opacity: 0.7;
}

.footer .footer_bottom {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer .footer_bottom a {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer .footer_bottom a:hover {
  opacity: 0.7;
}

@media (min-width: 576px) {
  .footer .footer_bottom {
    padding-bottom: 0px;
  }
}

.footer .footer_smallParagraph {
  font-size: 12px;
  text-align: center;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .footer .footer_smallParagraph {
    text-align: left;
  }
}

.footer .footer_logo {
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  .footer .footer_logo img {
    width: 100%;
  }
}

.footer .footer_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

@media (min-width: 576px) {
  .footer .footer_icons {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 0px;
  }
}

.footer .footer_icons a {
  margin-left: 20px;
  text-align: center;
}

@media (min-width: 576px) {
  .footer .footer_icons a {
    margin-left: 15px;
  }
}

.footer .footer_icons a:first-child {
  margin-left: 0;
}

.footer .footer_copyright {
  text-align: center;
  font-size: 10px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
}

.moblieMenu {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #fff;
}

@media (min-width: 576px) {
  .moblieMenu {
    display: none;
  }
}

.moblieMenu a {
  height: 60px;
  padding: 10px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.moblieMenu a div {
  font-size: 12px;
  color: #202124;
}

.moblieMenu a.active {
  background-color: #e9e9e9;
}

.mainBanner__title {
  margin-bottom: 30px;
  padding: 0 20px;
}

.mainBanner__title h1 {
  margin: 0 0 10px 0;
  font-size: 50px;
}

.mainBanner__title p {
  margin: 0;
  font-size: 20px;
}

.mainBanner__img {
  margin-bottom: 40px;
}

.mainBanner__img img {
  display: block;
  width: 100%;
}

.indexIntro {
  background-color: #f7f8f9;
}

.indexIntro__card img {
  display: block;
  border-radius: 10px;
}

.indexIntro__card h2 {
  margin-top: 30px;
  font-size: 18px;
}

.indexIntro__card p {
  margin: 20px 0;
  font-size: 12px;
  line-height: 1.8;
}

.threeColumnCard {
  padding-bottom: 60px;
}

.threeColumnCard .threeColumnCard__title {
  font-size: 10px;
  text-align: center;
  margin-bottom: 50px;
}

.threeColumnCard .threeColumnCard__area {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
}

.threeColumnCard .card {
  height: 400px;
  padding: 20px;
  border-radius: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.threeColumnCard .card h3 {
  margin: 0 0 20px 0;
}

.threeColumnCard .card a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
}

.threeColumnCard .card p {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 1.8;
  color: #fff;
}

.threeColumnCard .card span {
  font-size: 1px;
  color: #cacaca;
}

.threeColumnCard .card:hover {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.threeColumnCard .card:hover a {
  color: #000;
  background-color: #fff;
}

.threeColumnCard .threeColumnCard__area > div:nth-child(1) > .card {
  background-image: url("../images/asset92.jpeg");
}

.threeColumnCard .threeColumnCard__area > div:nth-child(2) > .card {
  background-image: url("../images/asset93.jpeg");
}

.threeColumnCard .threeColumnCard__area > div:nth-child(3) > .card {
  background-image: url("../images/asset94.jpeg");
}

.eventBlock__5Pieces, .latestNews, .movies {
  margin-bottom: 50px;
}

.eventBlock__5Pieces__title, .latestNews__title, .communitiesPartners__title, .movies__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-top: 0.5px solid #6c6D6e;
  padding: 15px 0 30px 0;
}

.eventBlock__5Pieces__title h3, .latestNews__title h3, .communitiesPartners__title h3, .movies__title h3 {
  margin: 0;
  font-size: 18px;
  color: #222;
}

.eventBlock__5Pieces__title h3 span, .latestNews__title h3 span, .communitiesPartners__title h3 span, .movies__title h3 span {
  margin-top: 10px;
  display: block;
  color: #6c6D6e;
  font-size: 10px;
}

@media (min-width: 576px) {
  .eventBlock__5Pieces__cardArea, .latestNews__cardArea, .movies__cardArea {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 700px;
  }
}

.eventBlock__5Pieces__cardArea .card, .latestNews__cardArea .card, .movies__cardArea .card {
  margin: 10px 0;
}

.eventBlock__5Pieces__cardArea .card .card__category, .latestNews__cardArea .card .card__category, .movies__cardArea .card .card__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.eventBlock__5Pieces__cardArea .card .card__category span, .latestNews__cardArea .card .card__category span, .movies__cardArea .card .card__category span {
  margin-left: 5px;
  margin-bottom: -3px;
  font-size: 10px;
}

.eventBlock__5Pieces__cardArea .card .card__img, .latestNews__cardArea .card .card__img, .movies__cardArea .card .card__img {
  margin-bottom: 20px;
  position: relative;
}

.eventBlock__5Pieces__cardArea .card .card__img img, .latestNews__cardArea .card .card__img img, .movies__cardArea .card .card__img img {
  width: 100%;
  border-radius: 8px;
  display: block;
}

.eventBlock__5Pieces__cardArea .card .card__img.playIcon::after, .latestNews__cardArea .card .card__img.playIcon::after, .movies__cardArea .card .card__img.playIcon::after {
  content: '';
  position: absolute;
  right: 15px;
  bottom: 20px;
  padding: 17px;
  border: 1px solid #f65936;
  border-radius: 50%;
  background-position-x: 60%;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 10px;
  background-image: url(../images/asset96.svg);
}

.eventBlock__5Pieces__cardArea .card .card__info .card__title, .latestNews__cardArea .card .card__info .card__title, .movies__cardArea .card .card__info .card__title {
  margin: 0 0 10px 0;
  color: #222;
  font-size: 15px;
  font-weight: bold;
}

.eventBlock__5Pieces__cardArea .card .card__info .card__discription p, .latestNews__cardArea .card .card__info .card__discription p, .movies__cardArea .card .card__info .card__discription p {
  display: none;
  margin: 0 0 10px 0;
  font-size: 14px;
}

.eventBlock__5Pieces__cardArea .card .card__info .card__discription span, .latestNews__cardArea .card .card__info .card__discription span, .movies__cardArea .card .card__info .card__discription span {
  color: #222;
  font-size: 12px;
}

.eventBlock__5Pieces__cardArea .card_column:first-child, .latestNews__cardArea .card_column:first-child, .movies__cardArea .card_column:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 576px) {
  .eventBlock__5Pieces__cardArea .card_column:first-child, .latestNews__cardArea .card_column:first-child, .movies__cardArea .card_column:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 576px) {
  .eventBlock__5Pieces__cardArea .card_column:first-child .card__info, .latestNews__cardArea .card_column:first-child .card__info, .movies__cardArea .card_column:first-child .card__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.eventBlock__5Pieces__cardArea .card_column:first-child .card__discription p, .latestNews__cardArea .card_column:first-child .card__discription p, .movies__cardArea .card_column:first-child .card__discription p {
  display: block;
}

.eventBlock__5Pieces__cardArea .card_column:nth-child(1) ~ .card_column, .latestNews__cardArea .card_column:nth-child(1) ~ .card_column, .movies__cardArea .card_column:nth-child(1) ~ .card_column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
}

@media (min-width: 576px) {
  .eventBlock__5Pieces__cardArea .card_column:nth-child(1) ~ .card_column, .latestNews__cardArea .card_column:nth-child(1) ~ .card_column, .movies__cardArea .card_column:nth-child(1) ~ .card_column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
}

.featured {
  margin-bottom: 130px;
  background-image: url("/images/asset48.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.featured .featured__area {
  margin-top: 50px;
  color: #fff;
}

.featured .featured__area .featured__title {
  font-size: 26px;
}

.featured .featured__area .featured__discription {
  margin: 0;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.5);
}

.featured .featured__area .featured__cardArea {
  margin-right: -12px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  bottom: -70px;
  left: 0;
}

.featured .featured__area .card {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 90%;
  margin-right: 15px;
}

.featured .featured__area .card img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px;
}

.featured .featured__area .card .card_info {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 10px 0 20px;
}

.featured .featured__area .card .card_info h4 {
  margin: 0;
  font-size: 20px;
}

.communitiesPartners {
  background-color: #f7f8f9;
  padding-bottom: 50px;
}

.communitiesPartners .communitiesPartners__cardArea {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.communitiesPartners .communitiesPartners__cardArea .card {
  width: 35%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 10px 20px;
  margin-right: 20px;
  border-radius: 8px;
  background-color: #fff;
}

.communitiesPartners .communitiesPartners__cardArea .card img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.communitiesPartners .communitiesPartners__cardArea .card h4 {
  font-size: 12px;
  line-height: 1.6;
  color: #707070;
}

.communitiesPartners__title {
  padding-bottom: 40px;
}

.video img {
  display: block;
}

.otherWebSite {
  padding: 40px 0;
  background-color: #303133;
}

.otherWebSite .otherWebSite_areaLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

@media (min-width: 576px) {
  .otherWebSite .otherWebSite_areaLink {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 30px;
  }
}

.otherWebSite .otherWebSite_link {
  width: calc(50% - 5px);
}

@media (min-width: 576px) {
  .otherWebSite .otherWebSite_link {
    width: calc(25% - 15px);
  }
}

.otherWebSite img {
  display: block;
}
/*# sourceMappingURL=index.css.map */