@import "global/global";
.mainTitle{
    margin-bottom: 40px;
    padding: 0 20px;
    h1{
        margin: 0 0 10px 0;
        font-size: 50px;
    }
    p{
        margin: 0;
        font-size: 20px;
    }
}
.mainBanner{
    margin-bottom:40px ;
    img{
        display: block;
        width: 100%;
    }
}
.scrollTip{

}
.index_card{
    img{
        display: block;
        border-radius: 10px;
    }
    h2{
        margin-top: 30px;
        font-size: 18px;
    }
    p{
        margin: 20px 0;
        font-size: 12px;
        line-height: 1.8;
    }
}