@import "global/global";
.mainBanner__title{
    margin-bottom: 30px;
    padding: 0 20px;
    h1{
        margin: 0 0 10px 0;
        font-size: 50px;
    }
    p{
        margin: 0;
        font-size: 20px;
    }
}
.mainBanner__img{
    margin-bottom:40px ;
    img{
        display: block;
        width: 100%;
    }
}
.scrollTip{

}
.indexIntro{
    margin-bottom: 50px;
    background-color: #f7f8f9;
}
.indexIntro__card{
    img{
        display: block;
        border-radius: 10px;
    }
    h2{
        margin-top: 30px;
        font-size: 18px;
    }
    p{
        margin: 20px 0;
        font-size: 12px;
        line-height: 1.8;
    }
}

.threeColumnCard{
    padding-bottom: 60px;
    .threeColumnCard__title{
        font-size: 10px;
        text-align: center;
        margin-bottom: 50px;
    }
    .threeColumnCard__area{
        flex-wrap: nowrap;
        overflow: hidden;
    }
    .card{
        height: 400px;
        padding: 20px;
        border-radius: 20px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all .3s;
        h3{
            margin: 0 0 20px 0;
        }
        a{
            width: fit-content;
            padding: 10px 15px;
            display: flex;
            align-items: center;
            border: 1px solid #fff;
            border-radius: 50px;
            color: #fff;
        }
        p{
            margin: 0 0 10px 0;
            font-size: 14px;
            line-height: 1.8;
            color: #fff;
        }
        span{
            font-size: 1px;
            color: #cacaca;
        }
        &:hover{
            background-color: rgba($color: #000000, $alpha: 0.5);
            background-blend-mode: multiply;
            a{
                color: #000;
                background-color: #fff;
            }
        }
    }
    .threeColumnCard__area>div:nth-child(1)>.card{
        background-image: url('../images/asset92.jpeg');
    }
    .threeColumnCard__area>div:nth-child(2)>.card{
        background-image: url('../images/asset93.jpeg');
    }
    .threeColumnCard__area>div:nth-child(3)>.card{
        background-image: url('../images/asset94.jpeg');
    }
}

.latestNews{
    margin-bottom: 50px;
}

.latestNews__title,.communitiesPartners__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.5px solid #6c6D6e;
    padding-top: 15px;
    h3{
        margin: 0;
        font-size: 18px;
        color: #222;
        span{
            margin-top: 10px;
            display: block;
            color: #6c6D6e;
            font-size: 10px;
        }
    }
}
.latestNews__cardArea{
    .card{
        margin: 10px 0;
        .card__category{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            span{
                margin-left: 5px;
                margin-bottom: -3px;
                font-size: 10px;
            }
        }
        .card__img{
            margin-bottom: 20px;
            img{
                width: 100%;
                border-radius: 8px;
                display: block;
            }
        }
        .card__info{
            .card__title{
                margin: 0 0 10px 0;
                color:#222 ;
                font-size: 15px;
                font-weight: bold;
            }
            .card__discription{
                p{
                    display: none;
                    margin:0 0 10px 0 ;
                    font-size: 14px;
                }
                span{
                    color:#222 ;
                    font-size: 12px;
                } 
            }
        }
    }
}
.featured{
    padding-top: 20px;
    margin-bottom: 130px;
    background-image: url('/images/asset48.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .featured__area{
        margin-top: 50px;
        color: #fff;
        .featured__title{
            font-size: 26px;
        }
        .featured__discription{
            margin: 0;
            line-height: 1.6;
            color: rgba(255,255,255,0.5);
        }
        .featured__cardArea{
            margin-right:-12px;
            position: relative;
            display: flex;
            overflow: hidden;
            bottom: -70px;
            left: 0;
        }
        .card{
            position: relative;
            flex: 0 0 auto;
            width: 90%;
            margin-right: 15px;
            img{
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 8px;
            }
            .card_info{
                position: absolute;
                bottom: 10px;
                left: 0;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: 0 10px 0 20px;
                h4{
                    margin: 0;
                    font-size: 20px;
                }
            }
        }
    }
}
.communitiesPartners{
    padding-top: 10px;
    background-color: #f7f8f9;
    .communitiesPartners__cardArea{
        margin-top: 40px;
        display: flex;
        overflow: hidden;
        .card{
            width: 40%;
            flex: 0 0 auto;
            padding:10px 20px;
            margin-right: 20px;
            border-radius: 8px;
            background-color: #fff;
            img{
                width: 100%;
                display: block;
                border-radius: 8px;
            }
            h4{
                font-size: 12px;
                line-height: 1.6;
                color: #707070;
            }
        }
    }
}
