@import "global/global";
.mainBanner__title{
    margin: 50px 0 30px;
    margin-bottom: 30px;
    padding: 0 20px;
    @include media-breakpoint-up('sm'){
        position: relative;
        display: flex;
        flex-direction: column-reverse;

    }
    @include media-breakpoint-up('lg'){
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding: 40px 0 0 0;
        margin-top: 0;
        margin-bottom: -60px;
    }
    h1{
        margin: 0 0 10px 0;
        font-size: 50px;
        // @include media-breakpoint-up('md'){
        //     width: 57%;
        //     justify-self: center;
        //     font-size: 100px;
        //     margin: 0;
        // }
        @include media-breakpoint-up('lg'){
            width: 50%;
            justify-self: center;
            font-size: 150px;
            margin: 0;
        }
    }
    p{
        margin: 0;
        font-size: 16px;
        @include media-breakpoint-up('lg'){
            margin:0 80px 0 0;
            font-size: 30px;
            font-weight: bold;
        }
    }
}
.mainBanner__area{
    margin-bottom:40px ;
    position: relative;
    @include media-breakpoint-up('lg'){
        display: flex;
        position:unset;
        margin-bottom: 0;
    }
    img{
        display: block;
        width: 100%;
        @include media-breakpoint-up('lg'){
            border-top-right-radius:1em 1em;
            width: 70%;
        }
    }
    .mainParagraph{
        padding:30px 12px 140px ;
        @include media-breakpoint-up('xl'){
            margin-left: 50px;
            padding: 100px 0 0 0;
        }
        p{
            font-size: 14px;
            line-height: 2;
            margin: 0;
            @include media-breakpoint-up('lg'){
                font-size: 1em;
                height: max-content;
                // max-height: 400px;
                writing-mode: vertical-rl;
            }
            .pattern1{
                display: none;
                @include media-breakpoint-up('lg'){
                    display: inline;
                }
            }
            .pattern2{
                @include media-breakpoint-up('lg'){
                    display: none;
                }
            }
        }
    }
}
.scrollTip{
    position: absolute;
    top: 0;
    right: 20px;
    transform: translate(0,-50%);
    
    @include media-breakpoint-up('lg'){
        position: relative;
        top: unset;
        right: unset;
        transform: unset;
    }
    img{
        width: 80px;
        margin: 0;
        @include media-breakpoint-up('lg'){
            width: 100px;
            margin: 0 auto 100px auto;
        }
    }
    .scrollTip_arrow{
        width: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
.indexIntro{
    background-color: #f7f8f9;
    .card{
        display: flex;
        justify-content: center;
        .card__img{
            flex: 0 0 auto;
            width: 100%;
            margin-top: -140px;
            @include media-breakpoint-up('lg'){
                flex: 0 0 auto;
                width: 44%;
            }
            img{
                display: block;
                border-radius: 10px;
            }
        }
        .card__info{
            flex: 0 0 auto;
            width: 100%;
            @include media-breakpoint-up('lg'){
                flex: 0 0 auto;
                width: 45%;
                padding: 0 0 0 60px;
            }
        }
        .card__title{
            margin-top: 30px;
            font-size: 18px;
            @include media-breakpoint-up('lg'){
                margin-top: 100px;
                margin-bottom: 40px;
                font-size: 32px;
                white-space:pre;
            }
        }
        .card__paragraph{
            margin: 20px 0;
            font-size: 12px;
            line-height: 1.8;
            @include media-breakpoint-up('lg'){
                font-size: 16px;
            }
        }
    }
}
.threeColumnCard{
    padding-bottom: 60px;
    @include media-breakpoint-up('lg'){
        padding-bottom: 100px;
    }
    .threeColumnCard__title{
        font-size: 10px;
        text-align: center;
        margin-bottom: 50px;
    }
    .threeColumnCard__area{
        flex-wrap: nowrap;
        overflow: hidden;
        &>div{
            flex: 0 0 auto;
            width: 75%;
            @include media-breakpoint-up('lg'){
                width: 33.3%;
            }
        }
    }
    .card{
        height: 400px;
        padding: 20px;
        border-radius: 20px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all .3s;
        @include media-breakpoint-up('lg'){
            height: 550px;
            padding: 30px;
        }
        h3{
            margin: 0 0 20px 0;
        }
        a{
            width: fit-content;
            padding: 10px 15px;
            display: flex;
            align-items: center;
            border: 1px solid #fff;
            border-radius: 50px;
            color: #fff;
        }
        p{
            opacity: 0;
            margin: 0 0 10px 0;
            font-size: 14px;
            line-height: 1.8;
            color: #fff;
            transition: all .3s;
        }
        span{
            font-size: 1px;
            color: #cacaca;
        }
        &:hover{
            background-color: rgba($color: #000000, $alpha: 0.5);
            background-blend-mode: multiply;
            a{
                color: #000;
                background-color: #fff;
            }
            p{
                opacity: 1;
            }
        }
    }
    .threeColumnCard__area>div:nth-child(1)>.card{
        background-image: url('../images/asset92.jpeg');
    }
    .threeColumnCard__area>div:nth-child(2)>.card{
        background-image: url('../images/asset93.jpeg');
    }
    .threeColumnCard__area>div:nth-child(3)>.card{
        background-image: url('../images/asset94.jpeg');
    }
}

.eventBlock__5Pieces{
    margin-bottom: 50px;
    @include media-breakpoint-up('lg'){
        padding: 30px 0;
        font-size: 26px;
        &:nth-child(odd) .eventBlock__5Pieces__cardArea .card_column:first-child{
            order: 1;
        }
    }
}

.eventBlock__5Pieces__title,.communitiesPartners__title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding: 15px 0 30px 0;
    @include media-breakpoint-up('lg'){
        padding: 30px 0;
        font-size: 26px;
    }
    h3{
        margin: 0;
        font-size: 18px;
        color: #222;
        @include media-breakpoint-up('lg'){
            display: flex;
            font-size: 26px;
        }
        span{
            margin-top: 10px;
            display: block;
            color: #6c6D6e;
            font-size: 10px;
            @include media-breakpoint-up('lg'){
                margin: 0 0 0 10px;
                align-self: end;
            }
        }
    }
}
.eventBlock__5Pieces__cardArea{
    @include media-breakpoint-up('lg'){
        max-height: 800px;
        flex-direction: column;
    }
    // @include media-breakpoint-up('xl'){
    //     max-height: 800px;
    // }
    .card{
        margin: 10px 0;
        .card__category{
            min-height: 20px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            span{
                position: relative;
                margin-left: 5px;
                margin-bottom: -3px;
                font-size: 10px;
                overflow: hidden;
                white-space: nowrap;
            }
            &:empty{
                min-height: 20px
            }
        }
        .card__img{
            margin-bottom: 20px;
            border-radius: 8px;
            position: relative;
            @include media-breakpoint-up('sm'){
                overflow: hidden;
            }
            img{
                width: 100%;
                display: block;
                @include media-breakpoint-up('sm'){
                    object-fit: cover;
                    object-position: center;
                    height: 200px;
                }
            }
            &.playIcon::after{
                content: '';
                position: absolute;
                right: 15px;
                bottom: 20px;
                padding: 17px;
                border: 1px solid #f65936;
                border-radius: 50%;
                background-position-x:60% ;
                background-position-y:center ;
                background-repeat: no-repeat;
                background-size: 10px;
                background-image: url(../images/asset96.svg);
            }
        }
        .card__info{
            min-height: 90px;
            .card__title{
                margin: 0 0 10px 0;
                color:#222 ;
                font-size: 15px;
                font-weight: bold;
            }
            .card__discription{
                p{
                    display: none;
                    margin:0 0 10px 0 ;
                    font-size: 14px;
                }
                span{
                    color:#222 ;
                    font-size: 12px;
                } 
            }
        }
    }
    .textOverflow:after{
        content: '';
        width: 40px;
        height: 20px;
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    }
    .card_column:first-child{
        flex: 0 0 auto;
        width: 100%;
        
        @include media-breakpoint-up('lg'){
            flex: 0 0 auto;
            width: 50%;
        }
        .card__img{
            
            @include media-breakpoint-up('lg'){
                height: 400px;
            }
            img{
                object-fit: cover;
                height: 100%;
            }
        }
        .card__info{
            @include media-breakpoint-up('lg'){
                display: flex;
            }
            .card__title{
                @include media-breakpoint-up('lg'){
                    font-size: 26px;
                    margin:0 20px 0 0;
                }
            }
            & *{
                flex: 1;
            }
        }
        .card__discription{
            p{
                display: block;
            }
        }
    }
    .card_column:nth-child(1)~.card_column{
        flex: 0 0 auto;
        width: 50%;
        @include media-breakpoint-up('lg'){
            flex: 0 0 auto;
            width: 25%;
        }
    }
}

.featured{
    margin-bottom: 130px;
    background-image: url('/images/asset48.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .divideLine{
        padding-top: 50px;
    }
    .featured__area{
        margin-top: 50px;
        color: #fff;
        .featured__title{
            font-size: 26px;
        }
        .featured__discription{
            margin: 0;
            line-height: 1.6;
            color: rgba(255,255,255,0.5);
        }
        .featured__cardArea{
            margin-right:-12px;
            position: relative;
            display: flex;
            overflow: hidden;
            bottom: -70px;
            left: 0;
        }
        .card{
            position: relative;
            flex: 0 0 auto;
            width: 90%;
            margin-right: 15px;
            @include media-breakpoint-up('md'){
                width: 55%;
                margin-right: 30px;
            }
            @include media-breakpoint-up('lg'){
                width: 33.3%;
                margin-right: 30px;
            }
            img{
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 8px;
            }
            .card_info{
                position: absolute;
                bottom: 10px;
                left: 0;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: 0 10px 0 20px;
                h4{
                    margin: 0;
                    font-size: 20px;
                }
            }
        }
    }
}
.communitiesPartners{
    background-color: #f7f8f9;
    padding-bottom: 50px;
    @include media-breakpoint-up('lg'){
        padding-bottom: 120px;
    }
    .communitiesPartners__cardArea{
        margin-bottom: 15px;
        display: flex;
        overflow: hidden;
        @include media-breakpoint-up('lg'){
            margin-bottom: 25px;
        }
        &:last-child{
            display: none;
        }
        .card{
            width: 35%;
            flex: 0 0 auto;
            padding:10px 20px;
            margin-right: 20px;
            border-radius: 8px;
            background-color: #fff;
            @include media-breakpoint-up('md'){
                width: 20%;
                margin-right: 25px;
            }
            @include media-breakpoint-up('lg'){
                width: 14%;
                margin-right: 30px;
            }
            img{
                width: 100%;
                display: block;
                border-radius: 8px;
            }
            h4{
                font-size: 12px;
                line-height: 1.6;
                color: #707070;
            }
        }
    }
}
.communitiesPartners__title{
    padding-bottom: 40px;
}
.video{
    img{
        display: block;
    }
}
.otherWebSite{
    padding: 40px 0;
    background-color: #303133;
    @include media-breakpoint-up('lg'){
        padding: 80px 0;
    }
    .otherWebSite_areaLink{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        @include media-breakpoint-up('lg'){
            flex-wrap: nowrap;
            gap: 30px;
        }
    }
    .otherWebSite_link{
        width: calc(50% - 5px) ;
        @include media-breakpoint-up('lg'){
            width: calc(25% - 15px) ;
        }
    }
    img{
        display: block;
    }
}