.gray_bg{
    background-color: #f7f8f9;
    
}
.link{
   color: #F65936;
   font-weight: 700;
   font-size: 10px;
   transition: all .3s;
   &:after{
       content: '';
       width: 18px;
       height: 18px;
       margin-left: 5px;
       padding: 3px;
       display: inline-block;
       vertical-align: top;
       border: 1px solid #F65936;
       border-radius: 50%;
       background-image: url('../images/asset91.svg');
       background-position: center;
       background-repeat: no-repeat;
       background-size: 12px;
       transition: all .3s;
   }
   &:hover::after{
    border: 1px solid #ffaa96;
    color: #ffaa96;
   }
   &:hover{
       color:#ffaa96 ;
   }
}