@import "../functions";
@import "../variables";
@import "../mixins/breakpoints";

.gray_bg{
    background-color: #f7f8f9;
}
.quotation{
    margin: 40px 0;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    span{
        color:#F65936 ;
    }
}
.divideLine{
    padding: 50px 0;
    h2{
        margin: 0;
        font-size: 20px;
    }
    &:before{
        content: '';
        width: 100%;
        height: 2px;
        margin-bottom: 10px;
        display: block;
        background-color: #000;
    }
    &.divideLine--white{
        h2{
            color: #fff;
        }
        &:before{
            background-color: #fff;
        }
    }
}
.link{
   color: #F65936;
   font-weight: 700;
   font-size: 10px;
   transition: all .3s;
   display: flex;
   align-items: center;
   &:after{
       content: '';
       width: 18px;
       height: 18px;
       margin-left: 10px;
       padding: 3px;
       border: 1px solid #F65936;
       border-radius: 50%;
       background-image: url('../images/asset91.svg');
       background-position: center;
       background-repeat: no-repeat;
       background-size: 12px;
       transition: all .3s;
   }
   &:hover::after{
    border: 1px solid #ffaa96;
    color: #ffaa96;
   }
   &:hover{
       color:#ffaa96 ;
   }
   &.link--bigWhite:after{
       content: '';
       width: 32px;
       height: 32px;
       border: 1px solid #fff;
   }
   &.link--noIcon:after{
        content: none;
   }
}
.header{
    background-color: #fff;
    .header_top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        border-bottom: 1px solid #e0e0e0;
        div:first-child{
            display: flex;
            align-items: center;
        }
    }
    .header_search{
        margin-right: 15px;
    }
    .header_logo{
        width: 150px;
    }
}
.footer{
    padding: 30px 0;
    background-color: #202124;
    color:rgba(255, 255, 255, 0.7) ;
    position: relative;

    .footer_top::after{
        content: '';
        width: 100% ;
        height: 1px;
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.7) ;
    }
    .footer_pageLink{
        display: flex;
        align-items: flex-end;
        margin-bottom: 30px;
        transition: all .3s;
        @include media-breakpoint-up('sm'){
            margin-bottom: 50px;
            display: block;
        }
        span:nth-child(1){
            font-weight: bold;
            font-size: 17px;
            margin-right: 10px;
            @include media-breakpoint-up('sm'){
                display: block;
            }
        }
        span:nth-child(2){
            font-size: 12px;
        }
        &:hover{
            color: #F65936;
        }
    }

    .footer_pageSmallLink{
        font-size: 13px;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        transition: all .3s;
        div{
            line-height: 20px;
        }
        &:hover{
            opacity: 0.7;
        }
    }
    .footer_bottom{
        padding-top: 30px;
        padding-bottom: 30px;
        a{
            transition: all .3s;
        }
        a:hover{
            opacity: 0.7;
        }
        @include media-breakpoint-up('sm'){
            padding-bottom: 0px;
        }
    }
    .footer_smallParagraph{
        font-size: 12px;
        text-align: center;
        margin-bottom: 20px;
        @include media-breakpoint-up('sm'){
            text-align: left;
        }
    }
    .footer_logo{
        text-align: center;
        margin-bottom: 30px;
        img{
            @include media-breakpoint-up('sm'){
                width: 100%;
            }
        }
    }
    .footer_icons{
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        @include media-breakpoint-up('sm'){
            justify-content: flex-end;
            margin-bottom: 0px;
        }
        a{
            margin-left: 20px;
            text-align: center;
            @include media-breakpoint-up('sm'){
                margin-left: 15px;
            }
        }
        a:first-child{
            margin-left: 0;
        }
    }
    .footer_copyright{
        text-align: center;
        font-size: 10px;
        font-weight:lighter;
        color: rgba(255, 255, 255, 0.7);
    }
}
.moblieMenu{
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0%;
    left: 0;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #fff;
    @include media-breakpoint-up('sm'){
        display: none;
    }
    a{  
        height: 60px;
        padding: 10px 0;
        flex: 1;
        div{
            font-size: 12px;
            color: #202124;
        }
        &.active{
            background-color: #e9e9e9;
        }
    }
}