.gray_bg{
    background-color: #f7f8f9;
}
.quotation{
    margin: 40px 0;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    span{
        color:#F65936 ;
    }
}
.divideLine{
    margin: 40px 0 50px;
    h2{
        margin: 0;
        font-size: 20px;
    }
    &:before{
        content: '';
        width: 100%;
        height: 2px;
        margin-bottom: 10px;
        display: block;
        background-color: #000;
    }
    &.divideLine--white{
        h2{
            color: #fff;
        }
        &:before{
            background-color: #fff;
        }
    }
}
.link{
   color: #F65936;
   font-weight: 700;
   font-size: 10px;
   transition: all .3s;
   display: flex;
   align-items: center;
   &:after{
       content: '';
       width: 18px;
       height: 18px;
       margin-left: 10px;
       padding: 3px;
       border: 1px solid #F65936;
       border-radius: 50%;
       background-image: url('../images/asset91.svg');
       background-position: center;
       background-repeat: no-repeat;
       background-size: 12px;
       transition: all .3s;
   }
   &:hover::after{
    border: 1px solid #ffaa96;
    color: #ffaa96;
   }
   &:hover{
       color:#ffaa96 ;
   }
   &.link--bigWhite:after{
       content: '';
       width: 32px;
       height: 32px;
       border: 1px solid #fff;
   }
}